@import "tailwindcss";

:root {
  --background: #faf9f6;
  --card: #ffffff;

  --foreground: #2f2f2f;

  --primary: #8b5e3c;
  --primary-hover: #6d472c;

  --secondary: #f3ede6;

  --border: #e7e2db;

  --muted: #6b7280;

  --success: #4f7d56;

  --danger: #b23b3b;
}
